@model List<Facility>
@{
	ViewData["title"] = "Facility Management";
}

<div class="text-center mb-3">
	<h1 class="display-6">Facility List</h1>
</div>

<div class="container-fluid">
	<div class="mb-3 text-end">
		<a class="btn btn-primary" asp-action="Create">Add More Facility</a>
	</div>
	<table class="table table-light">
		<tr>
			<th>Preview</th>
			<th>Id</th>
			<th>Name</th>
			<th>Image URL</th>
			<th></th>
		</tr>
		@if(Model != null){
			@foreach (var fac in Model)
			{
				<tr>
					<td>
						<div style="width: 50px; height: 50px; overflow: hidden;">
							<img style="height: 100%; width: 100%; object-fit: cover;" src=@("~/images/" + fac.ImageUrl) asp-append-version=true>
						</div>
					</td>
					<td>
						@fac.FacId
					</td>
					<td>
						@fac.Name
					</td>
					<td>
						@fac.ImageUrl
					</td>
					<td class="col-md-2">
						<div class="d-flex">
							<a class="btn btn-warning me-3" asp-controller="FacilityManage" asp-action="Edit" asp-route-id="@fac.FacId">Edit</a>
							<form method="post" asp-action="Delete">
								<input type="hidden" name="id" value="@fac.FacId">
								<input class="btn btn-danger" type="submit" value="Delete">
							</form>
						</div>
					</td>
				</tr>
			}
		}
		else{
			<tr>
				<td>No rows</td>
			</tr>
		}
	</table>
</div>